<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="QLBSConnectionString" connectionString="Data Source=.\SQL2012;Initial Catalog=Spl_KHTN_QLBS; UID=sa; PWD=t3hlhp" providerName="System.Data.SqlClient"/>
    <!--ConnectionString DUOC DAT TRONG FILE XLDL.cs-->
    
		<!--<add name="QLBSConnectionString" connectionString="Data Source=.\SQL2012;Initial Catalog=QLBS;Integrated Security=true"
      providerName="System.Data.SqlClient" />
    <add name="QLBSConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=QLBS;Integrated Security=true"
      providerName="System.Data.SqlClient" />-->
	</connectionStrings>
  
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
	<!--<connectionStrings>
    --><!--<remove name="LocalSqlServer" />--><!--
    --><!--<add name="LocalSqlServer" connectionString="Integrated Security=SSPI; Data Source=HYPERLAP\SERVER2K8 ; Initial Catalog=aspnetdb;" providerName="System.Data.SqlClient" />--><!--
    <add name="LocalSqlServer" connectionString="data source=.\SERVER2K8; Integrated Security=SSPI; AttachDBFilename=|DataDirectory|aspnetdb.mdf; User Instance=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
	<!--<connectionStrings>
    <add name="LocalSqlServer" connectionString="data source=.\SQLEXPRESS; Integrated Security=SSPI; AttachDBFilename=|DataDirectory|aspnetdb.mdf; User Instance=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
	<!--<siteMap>
    <providers>
      <add siteMapFile="web.sitemap" name="AspNetXmlSiteMapProvider"
          type="System.Web.XmlSiteMapProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </providers>
  </siteMap>-->
	<appSettings>
		<add key="DiaChiCty" value="227 Nguyễn Văn Cừ - Tp.HCM "/>
	</appSettings>
</configuration>
